# Visual Code (vcode)
/.vscode

# My personal scratch place that I use to add code, notes that I never want commited
__scratch

# Mac
.DS_Store

# Windows
Thumbs.db

# WebStorm
.idea/

# vi
*~

# General
log/
*.log

# etc...